@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h1 {
  @apply text-4xl mb-4;
}

h2 {
  @apply text-3xl mb-2;
}

h3 {
  @apply text-2xl mb-2;
}

h4 {
  @apply text-xl mb-2;
}

h5 {
  @apply text-lg mb-2;
}

h6 {
  @apply text-base mb-2;
}

p {
  @apply mb-4;
}

blockquote {
  @apply border-l-4 border-gray-200 italic my-8 pl-8;
}

img {
  @apply my-8 object-cover w-full;
}

.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.progress {
  transition: all 1s linear;
  height: .2rem;
  flex-grow: 1;
  border-radius: 4px;
  display: flex;
  background: rgb(255, 255, 255);
  animation-delay: .2s;
}

.single-progress-container {
  background-color: #ffffff4f;
  height: .2rem;
  flex-grow: 1;
  border-radius: 4px;
  width: 100%;
  margin: 0 5px;
}

.progress.active {
    animation-name: Loader;
}

.progress.passed {
    background-position: 0 0; 
}

.type {
  color:#0000;
  line-height: 150%;
  background:
    linear-gradient(-90deg,#ffffff 5px,#0000 0) 10px 0,
    linear-gradient(#ffffff 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.1s) steps(var(--n)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

@keyframes scrolling-text {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-600%);
  }
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.green-nouveau {
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
  animation-delay: 5s;
}

.green-ads {
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
  animation-delay: 6s; 
}

.animate-scrolling-text {
  animation: scrolling-text 30s infinite linear;
}

.image-container:hover .image-container-text {
  height: 100%;
  border-radius: 1rem;
}

.image-container-text.active {
  height: 100%;
  border-radius: 1rem;
}

.image-container-tag {
  opacity: 0;
  transform: scale(1.1);
}

.container-hovered.image-container-tag{
  opacity: 1;
  transform: scale(1);
}

.video-container  video {
  max-width: unset;
}

[id^=page-element] {
  opacity: 0;
}