@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h1 {
  @apply text-4xl mb-4;
}

h2 {
  @apply text-3xl mb-2;
}

h3 {
  @apply text-2xl mb-2;
}

h4 {
  @apply text-xl mb-2;
}

h5 {
  @apply text-lg mb-2;
}

h6 {
  @apply text-base mb-2;
}

p {
  @apply mb-4;
}

blockquote {
  @apply border-l-4 border-gray-200 italic my-8 pl-8;
}

img {
  @apply my-8 object-cover w-full;
}

.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.progress {
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  display: flex;
  background: red;
  animation-delay: .2s;
}

.single-progress-container {
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  width: 100%;
  margin: 0 5px;
}

.progress.active {
    animation-name: Loader;
}

.progress.passed {
    background-position: 0 0; 
}
